/* top-menu styles */
.header-area{
    position:absolute;
    top:0px;
    left:0px;
    z-index:3;
    width:100%;
}

.top-menu{
    padding:10px;
    padding-bottom:0px;
    background-color: rgba(205, 210, 214, 0.568);
}

.header-area .menu-left a{
          text-decoration: none;
          color:white;
          font-size:12px;
          font-family: "Roboto",sans-serif;
          font-weight: normal;         

}

.menu-left{
    float:left;
}

.menu-right{
    float:right;
}

.header-area .menu-right ul li{
    display:inline-block;
}
 .fa-color{
   color:gray;
   padding:16px;
   font-size:50px;
}
.fa-color:hover{
    color: rgba(255, 0, 55, 0.753);
}

.menu-left a {
    font-size: 12px;
    color: #fff;
    background: #ff1857;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0px 15px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #ff1857;
    margin-top: 6px;
}

.menu-left a:hover{ 
    background: transparent;
    /* float:left; */
    color: rgba(241, 20, 20, 0.753);
    text-decoration: none;
 } 

/* top-menu ends */

/* logo part */
.logo-part{
    padding:20px 0px;
}

.logo-img{
    height:50px;
    width:206px;
    float: left;
    margin-top:20px;
}

.dotted-border{
   float:right;
    height:90px;
    width:728px;
}
.navbar{
    border:none;
}
