@import "bootstrap/_variables.scss";
.hero__content{
    width:450px;
    margin:auto;
    margin-top:50px;
    .hero__section{
    border:1px solid $gray-lighter;
    border-radius: 8px;
    padding: 35px 40px 36px;
    box-shadow: 0 2px 2px 0 $gray-lighter, 0 3px 1px -2px $gray-lighter, 0 1px 5px 0 $gray-lighter;
    .hero__image{
        height: 60px;
}
}

.google{
    &__title{
        font-size: 24px;
        text-align: center;
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto', sans-serif;
    }
    &__text{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: #212121;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

.email{
    padding-top:40px;
    &__search{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: none;
        border-bottom:1px solid rgb(223, 218, 218);
        font-size: 16px;
        font-weight: 600;
    }
    &__forgot{
        padding-top:28px;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
    }
    &__link{
        padding-top:28px;
        color: #5D00EF;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
    }
}
.suggestion{
    margin-top: 32px;
    padding-bottom: 3px;
    padding-top: 9px;
    &__text{
        color:#757575;
        font-size: 14px;
        margin:0px;
    }
    &__link{
        font-weight: 600;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        color: #5D00EF;
    }
}

.account{
    margin-top:40px;
    padding-bottom: 20px;
    &__create{
        padding-top:20px;
        padding-bottom: 10px;
        font-size: 14px;
        color: #3b78e7;
        font-weight: 600;
        text-decoration: none;
    }
    &__next{
        background-color: #3b78e7;
        color:white;
        font-size: 15px;
        float: right;
        padding: 8px 25px 8px 25px;
    }
}

.language{
    padding: 24px 0 0;
    &__select{
        border:none;
        background-color:  #fff;
        font-size:13px;
    }
    &__suggestion{
        display: inline;
    }
    &__text{
        font-size: 13px;
        float: right;
        border-radius: 2px;
        color: #757575; 
        font-weight: 600;
        text-decoration: none;
        padding: 0px 10px 0px 10px;
    }
}
}


@media screen and(max-width:767px){

    .hero__content{
        width:330px;
    }
    .hero__section{
        border:1px solid rgb(201, 196, 196);
        border-radius: 8px;
        min-height: 550px;
        box-shadow: 0 2px 2px 0 $gray-lighter, 0 3px 1px -2px $gray-lighter, 0 1px 5px 0 $gray-lighter;
    }
}