.foot-row-1{
     padding: 30px 0px;
     border-bottom: 2px solid $gray-lighter;
    .row1-border{
        border-right: 1px solid $gray-lighter;
    .foot-row-1-img{
        width:40px;
    }  
}
}
.foot-row-2{
    margin-top:30px;
    .foot-row-2-border{
        border-right:2px solid $gray-lighter;
        height:70%;
    ul{
        li{
         color:$gray-light;
        }
        li:hover{
            color:$brand-danger;
           }
    }
    .foot-2-last{
        ul{
            li{
                display: inline;
                padding: 5px;
            }
        }
    }
}
.row-2-right{
    .row-2-right-first{
        padding-bottom:50px;
    .form-size{
        padding:20px 30px;
        width:100%;
    }
    .addon-back{
        width:60px;
        background-color: black;
        color:white;
    }
    .addon-back:hover{
        width:60px;
        background-color: $brand-danger;
        color: black;
    }
    .fa-footer{
        font-size:20px;
    }
    
}
.row-2-right-second{
    padding-bottom: 30px;
    ul{
        li{
            display: inline;
        }
    }
}
.row-2-right-third{
    padding-bottom: 30px;
    ul{
        li{
            display: inline;
            padding: 10px;
            a{
                color:black;
            }
        }
    }
    .fa-footer1{
        font-size:24px;
        color:$gray-light;
    }
    .fa-footer1:hover{
        font-size:24px;
        color:$brand-danger;
    }
}

}
}
.foot-row-3{
    border-top:2px solid $gray-lighter;
    .foot-tag{
        display: inline-block;
        padding-top: 20px;
    }
    .last-list{
        padding-top:20px;
    ul{
          li{
            display: inline;
            padding: 10px;
            a{
                text-decoration: none;
                color:$gray-light;
            }
        }
    }
}
.last-list{
    ul{
          li{
            display: inline;
            padding: 10px;
            a:hover{
                text-decoration: none;
                color:$brand-danger;
            }
        }
    }
}
}